<div class="progress-bar">
  <div class="step">
    <p #progressText>
      Name
    </p>
    <div class="bullet" #bullet>
      <span>1</span>
    </div>
    <div class="check fas fa-check" #progressCheck></div>
  </div>
  <div class="step">
    <p #progressText>
      Contact
    </p>
    <div class="bullet" #bullet>
      <span>2</span>
    </div>
    <div class="check fas fa-check" #progressCheck></div>
  </div>
  <div class="step">
    <p #progressText>
      Birth
    </p>
    <div class="bullet" #bullet>
      <span>3</span>
    </div>
    <div class="check fas fa-check" #progressCheck></div>
  </div>
  <div class="step">
    <p #progressText>
      Submit
    </p>
    <div class="bullet" #bullet>
      <span>4</span>
    </div>
    <div class="check fas fa-check" #progressCheck></div>
  </div>
</div>
